/* This file will hold styles that are loaded using the same media query as the normal grid. */

.page-node .field-name-field-lead-image img { max-width: 100%; height: auto;}

.region-menu ul.menu li.expanded {
  width: 24%;
}
.region-menu ul.menu .submenu { width: 640px; left: 0px;}

#block-block-7 { display: block}

.region-header-first ul.menu li, .panel-region-middle-top-right ul.menu li, .panel-node-news .panel-region-right ul.menu li {
	padding: 0.2em; margin-right: 5px;
}

.region-menu ul.menu {
	left: 310px; }

.region-menu ul.menu ul {
	width: 150px; }

.region-menu ul.menu .submenu li a {
	font-size: 14px; }
	
.panel-homepage .panel-region-lead .layout-wrapper.top-left {
width: 500px;
margin: 50px 0 0 10px;
}

.panel-homepage .panel-region-lead .rb-textbox-type-header { font-size: 36px;}
.content .panel-homepage .panel-region-lead .rb-regular-image {left: 610px;}

#search-block-form .form-text {
width: 160px;}


.panel-pane .pane-title, .block .block-title, .panel-region-middle-right .pane-content h2, .panel-region-right .pane-content h2 { font-size: 16px;}

.content .panel-homepage .panel-region-lead .rb-slides { background-position: 0 0}

.view-ballerup-taxonomy-term { background-color: #fff; *#ccc}
.view-ballerup-taxonomy-term .grid3 { margin: 0px; width: 33% !important }
.view-ballerup-taxonomy-term .grid3 { margin: 10px 1px 20px; width: 33% !important; }
