/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* Frontpage genveje */
.front .pane-content .form-item-search-block-form #edit-search-block-form--2 {
  width: 70%;
}
.front .panel-region-top-center .pane-menu-forsidegenveje ul.menu li.leaf {
  border-bottom: 2px dotted #fff;
  float: left;
  font-size: 23px;
  line-height: 25px;
 * margin: 0 10px;
  width: 39%;
}
.front #net_tv_pane {
  height: 160px;
}
.front .pane-views.pane-activities .pane-content {
  line-height: 14px;
}
.front .pane-views.pane-news .pane-content {
  line-height: 15px;
}
.front .panel-pane.pane-news.clearfix {
  height: 470px;
}
.front #mini-panel-frontpage_genveje_search {
  height: 480px;
}
.pane-activities {
  border: 1px solid #d9d9d9;
  border-radius: 7px;
  padding-top: 10px;
  margin-top: 20px !important;
  box-shadow: 0px 0px 11px 0px rgba(119, 119, 119, 0.65);
  -moz-box-shadow: 0px 0px 11px 0px rgba(119, 119, 119, 0.65);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(119, 119, 119, 0.65);
}
.front .panel-region-top-left .views-field-field-lead-image {
  margin-bottom: 0px;
}
.front .pane-news .pane-title .ballerup_blue {
  padding-left: 10px;
}
.front .pane-news {
  border: 1px solid #d9d9d9;
  border-radius: 7px;
  padding-top: 10px;
  box-shadow: 0px 0px 11px 0px rgba(119, 119, 119, 0.65);
  -moz-box-shadow: 0px 0px 11px 0px rgba(119, 119, 119, 0.65);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(119, 119, 119, 0.65);
}
.front .pane-news .view-news .views-row-1 .field-content img {
  height: auto;
  width: 298px;
  position: relative;
  left: -10px;
}
.front .pane-news .views-field-created,
.front .pane-news .views-field-title,
.front .pane-news .views-field-field-resume-long {
   * padding: 0 10px;
}
.front .pane-content .views-news-front-ballerup-nyt {
  padding: 0px 10px;
}
.front .panel-region-top .grid-5 {
  *height: 480px;
  width: 300px;
}
.front .panel-region-top-center.grid-5 .inside {
 * height: 480px;
}
.front .panel-region-top-left.grid-5 {
  *height: 520px;

}
.front .panel-region-top-right.grid-5 {
 * height: 520px;

}
.page-node .field-name-field-lead-image img { max-width: 100%; height: auto;}

.region-menu ul.menu li.expanded {
  width: 24%;
}
.region-menu ul.menu .submenu { width: 640px; left: 0px;}

#block-block-7 { display: block}

.region-header-first ul.menu li, .panel-region-middle-top-right ul.menu li, .panel-node-news .panel-region-right ul.menu li {
	padding: 0.2em; margin-right: 5px;
}

.region-menu ul.menu {
	left: 310px; }

.region-menu ul.menu ul {
	width: 150px; }

.region-menu ul.menu .submenu li a {
	font-size: 14px; }
	
.panel-homepage .panel-region-lead .layout-wrapper.top-left {
width: 500px;
margin: 50px 0 0 10px;
}

.panel-homepage .panel-region-lead .rb-textbox-type-header { font-size: 36px;}
.content .panel-homepage .panel-region-lead .rb-regular-image {left: 610px;}

#search-block-form .form-text {
width: 160px;}


.panel-pane .pane-title, .block .block-title, .panel-region-middle-right .pane-content h2, .panel-region-right .pane-content h2 { font-size: 16px;}

.content .panel-homepage .panel-region-lead .rb-slides { background-position: 0 0}

.view-ballerup-taxonomy-term { background-color: #fff; *#ccc}
.view-ballerup-taxonomy-term .grid3 { margin: 0px; width: 33% !important }
.view-ballerup-taxonomy-term .grid3 { margin: 10px 1px 20px; width: 33% !important; }
.show-for-small {
  display: none;
}
/*  Footer */
#region-footer-first {
  padding-left: 14px;
  width: 160px;
}
#region-footer-third,
#region-footer-fourth,
#region-footer-fifth,
#region-footer-second {
  padding-left: 8px;
}
.views-campaigns-front-aktuelt-i-ballerup .jcarousel-item {
  margin: 0 14px;
}
