/* This file will hold styles that are loaded using the same media query as the narrow grid. */

.page-node .field-name-field-lead-image img { max-width: 100%; height: auto;}

.region-menu ul.menu .submenu { width: 475px; left: 0px;}


.region-header-first ul.menu li, .panel-region-middle-top-right ul.menu li, .panel-node-news .panel-region-right ul.menu li {
	padding: 0.2em 0.1em;
}

.region-menu ul.menu {
	left: 240px; }

.region-menu ul.menu ul {
	width: 150px; }

.region-menu ul.menu .submenu li a {
	font-size: 14px; }
.region-menu ul.menu li a {
  padding: 10px 16px 0 16px;
}	
.panel-homepage .panel-region-lead .layout-wrapper.top-left {
	width: 330px;
	margin: 50px 0 0 10px;
}
.front .panel-region-top-left .views-field-field-lead-image {
 margin-bottom: 25px;
}
.panel-homepage .panel-region-lead .rb-textbox-type-header { font-size: 24px;}

.content .panel-homepage .panel-region-lead .rb-regular-image {left: 360px;}

#search-block-form .form-text {
width: 106px; }

.panel-pane .pane-title, .block .block-title, .panel-region-middle-right .pane-content h2, .panel-region-right .pane-content h2 { font-size: 13px;}

.content .panel-homepage .panel-region-lead .rb-slides { background-position: -250px 0}

.view-ballerup-taxonomy-term .grid3 { margin: 5px; width: 48%}
.view-ballerup-taxonomy-term .grid3 { height: 235px; }
.view-ballerup-taxonomy-term .grid3 .views-field-field-resume-long { height: 80px; overflow: hidden;}

/* Left menu */

.region-sidebar .block h2 {
  word-wrap: break-word;
}
.region-sidebar .block h2 a {
  color: #666666;
}

.region-sidebar ul.menu {
  margin: 0;
}
.region-sidebar ul.menu li {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #d9d9d9;
}
.region-sidebar ul.menu li.first {
  border-top: 1px solid #d9d9d9;
}
.region-sidebar ul.menu ul.menu li {
  margin: 0 0 0 10px;
  border: 0;
}

.region-sidebar ul.menu li a {
  padding: 7px 0 7px 20px;
  display: block;
  text-decoration: none;
  color: #0091d1;
  background-position: 0 7px;
  background-repeat: no-repeat;
  background-image: url(../images/left-menu/blue-left-menu-level1.png);
}
.region-sidebar ul.menu li a.active,
.region-sidebar ul.menu li a.active-trail {
  background-image: url(../images/left-menu/blue-left-menu-level1-active.png);
  font-weight: bold;
}
.region-sidebar ul.menu li a:hover {
  background-color: #f5f5f5;
}

.region-sidebar ul.menu ul.menu li a {
  padding-left: 25px;
  background-position: 10px 10px;
  background-image: url(../images/left-menu/blue-left-menu-level2.png);
}
.region-sidebar ul.menu ul.menu li a.active-trail {
  background-image: url(../images/left-menu/blue-left-menu-level2-active.png);
}

.region-sidebar ul.menu ul.menu ul.menu li a {
  background-image: none;
}
.region-sidebar ul.menu ul.menu ul.menu li a.active,
.region-sidebar ul.menu ul.menu ul.menu li a.active-trail {
  background-image: none;
}

.sektionssider  #region-content,
#region-sidebar, #region-menu, #region-footer-second, #region-footer-third, #region-footer-fourth, #region-footer-fifth, #region-header-second, #region-header-first, ul#contextual-links, .ballerup-contact-block, ul.tabs, #admin-menu, .node-type-news .panel-region-right, .front .panel-region-top-left, .front .panel-region-top-center, .front .panel-region-top-right { display: block;}
/* END Left menu */

.show-for-small, #block-menu-block-11 {
  display: none;
}
.front .panel-region-top {
  clear: both;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 15px;
}

/* Front page */
.front .panel-region-lead .grid-5,
.front .panel-region-top .grid-5 {
  width: 218px;
}
.front .panel-region-top .grid-5 .inside {
  width: 100%;
}

.front .pane-content .views-news-front-ballerup-nyt .views-row-1 .views-field-field-resume-long {
  margin-top: 9px;
}
.front .pane-news .view-news .views-row-1 .field-content img {
  height: auto;
  width: 218px;
  position: relative;
  left: -10px;
}

.front .pane-news .pane-title .ballerup_blue {
  padding-left: 10px;
}
.page-node .field-name-field-lead-image img { max-width: 100%; height: auto;}

.front .pane-content .views-news-front-ballerup-nyt {
  padding: 0px 10px;
}
.front .pane-content .form-item-search-block-form #edit-search-block-form--2 {
  width: 60%;
}
.front .panel-region-top-center .pane-menu-forsidegenveje ul.menu li.leaf {
  border-bottom: 1px dotted #fff;
  border-top: 1px dotted #fff;
  float: left;
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 -1px 15px;
  width: 39%;
}

.front .panel-pane.pane-news.clearfix {
  height: 490px;
}
/* Genveje */
.front #net_tv_pane {
  height: 210px; 
}

/* Activities */
.front .pane-views.pane-activities .pane-content {
  line-height: 10px;
}
/* End of front page */

.views-campaigns-front-aktuelt-i-ballerup .view-content {width : 620px;}
.views-campaigns-front-aktuelt-i-ballerup .jcarousel-item {
  margin: 0 6px;
}

.logo-img {
padding-left: 0;
}

.qtip { max-width: 720px;}
.qtip-wrapper { min-height: 207px; overflow: hidden; background-color: #FFF; border-bottom: 5px solid #0091d1;}
.qtip-content { padding: 0 !important}
.qtip-wrapper .panels-flexible-region-last {
  padding-left: 329px;
  clear: left;
}
#mderhverv, #mdborger, #mdkommunen, #mdselvbetjening {width: 88px; font-size: 10px; }
.menu-name-menu-mega-dropdown a { color: #FFF; }
.menu-name-menu-mega-dropdown a.active { color: #FFF; }
.menu-minipanels .menu-name-menu-mega-dropdown.menu-block-wrapper { padding-top: 10px;}
.menu-minipanels .menu-name-menu-mega-dropdown a { color: #333; font-size: 11px; }
.menu-minipanels .menu-name-menu-mega-dropdown span.overskrift,
.menu-minipanels .menu-name-menu-mega-dropdown a.overskrift { font-size: 14px; width: 100%; display: block; border-bottom: 1px solid #333; margin-right: 10px; }
.menu-minipanels .menu-name-menu-mega-dropdown li { list-style: none;}
.menu-minipanels .separator hr { border: 0px solid #fff;}
.menu-minipanels ul { margin: 0; padding: 0;}
.menu-minipanels .grid-5 { width: 320px}
#mdborger {	background: url('../images/green_close.png') top right no-repeat;}
#mderhverv {background: url('../images/orange_close.png') top right no-repeat;}
#mdselvbetjening { background: url('../images/red_close.png') top right no-repeat;}
#mdkommunen {background: url('../images/blue_close.png') top right no-repeat;}

#mdborger.qtip-hover{	background: url('../images/green_open.png') top right no-repeat;}
#mderhverv.qtip-hover{background: url('../images/orange_open.png') top right no-repeat;}
#mdselvbetjening.qtip-hover{ background: url('../images/red_open.png') top right no-repeat;}
#mdkommunen.qtip-hover {background: url('../images/blue_open.png') top right no-repeat;}

.menu-name-menu-mega-dropdown ul li {
  position: relative;
  width: 120px;
  display: block;
  height: 60px;
  padding: 0;
}

.menu-minipanels ul.menu li{
  height: 25px;
}
.menu-name-menu-mega-dropdown a.open {
  z-index: 6500;
  height: 60px;
}
.menu-name-menu-mega-dropdown a {
  position: absolute;
  height: 50px;
}

.generel-kontakt { color: #2a313d; background-image: url("../images/skylinekontakt.png"); background-position: 131px 181px; height: 200px; background-repeat: no-repeat; font-size: 9px;}
.generel-kontakt .pane-content { padding: 8px;}
.generel-kontakt strong { display: block;}
.generel-kontakt h2 { color: #2a313d; border-bottom: none !important; margin-bottom: 15px; font-size: 20px !important; padding: 8px 0 8px 8px;}

.menu-minipanels .generel-kontakt,
.panel-region-lead .generel-kontakt {
  width: 308px;
  float: left;
  margin-right: 10px;
  padding-top: 7px;
  padding-left: 12px;
  display: block;
}
.region-header-second-inner { padding: 0 0;}
#region-header-second {
  width: 170px;
}

.pane-rotating-banner {
  width: 390px;
  float: left;
  padding-top: 7px;
}

#search-block-form .form-text { min-width: 115px; max-width: 115px; }

.front .panel-region-top .panel-panel .panel-pane{
  margin-top: 10px;
  background: #fff;
  border-radius: 7px;
  margin-top: 15px;
  box-shadow: 0px 0px 11px 0px rgba(119, 119, 119, 0.65);
  -moz-box-shadow: 0px 0px 11px 0px rgba(119, 119, 119, 0.65);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(119, 119, 119, 0.65);
}

.front .panel-region-top .pane-title {
  margin: 0;
  border-bottom: 1px solid #ddd;
}

.front .panel-region-top #mini-panel-frontpage_genveje_search {
  overflow: auto;
}
.front .panel-region-top #mini-panel-frontpage_genveje_search .panel-pane {
  margin-top: 5px;
  border-radius: 0px;
  background: none;
  display: block;
  height: 30px;
  box-shadow: none;
}
.view-id-section_name_mobile {
  display: none;
}
