@media all and (max-width: 739px) {
  .node-politician .field-name-field-lead-image img,
  .node-person .field-name-field-lead-image img {
    width:50%;
  }

  .node-person .field-name-field-lead-image {
    float: left;
    width: 50%;
  }

  .node-person .field-name-field-tlf {
    float: right;
    width: 50%;
  }
  .node-person .field-name-field-email {
    float: right;
    width: 50%;
  }
  .front .panel-region-bottom,
  .front .panel-region-lead {
    display: none;
  }
  #region-branding {
    width: 100%;
  }
  #region-header-first { display: none; }
  
  #region-header-second {
    clear: left; 
    width: 220px;
    float: left;
    margin: 0 10px;
  }

  #region-menu ul.menu {
    left: 0;
    position: relative;
    top: 0;
    background: white;
    z-index: 500;
  }
  
  #region-menu ul.menu li {
    width: 100%;
    float: none;
    overflow: hidden;
  }

  #section-header { height: 176px; }

  #mobile-menu {
    height: 46px;
    width: 100px;
    display: inline-block;
    line-height: 46px;
    font-family: 'MorganAvecRegular';
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
   background: url("../images/sprite-bg-main-menu-arrows.png") no-repeat scroll 55px -412px transparent;
  }
  
  #region-menu ul.menu .submenu {
    width: 100%;
    left: 0;
    top: 0;
    border: none;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: auto;
  }
  #region-menu ul.menu ul {
    width: 100%;
  }

  #region-menu ul.menu a {
    width: 100%;
    background: none;
  }

  .region-menu ul.menu li a.l1.open {
    box-shadow: none;
  }
  .page-taxonomy .region-sidebar{
    display: block !important;
    width: 100%;
  }
  .page-taxonomy .region-sidebar ul li {
    list-style: none;
  }
  .page-taxonomy .region-sidebar ul li a {
    background: none !important;
    font-size: 20px;
  }
}
