@media all and (max-width: 739px) {
  .node-politician .field-name-field-lead-image img,
  .node-person .field-name-field-lead-image img {
    width:50%;
  }
  .pane-content .views-field-field-lead-image a img {
    height: auto;
    width: 100%;
  }
  .item-list .pager li {
    padding: 0;
  }
  .node-person .field-name-field-lead-image {
    float: left;
    width: 50%;
  }

  .node-person .field-name-field-tlf {
    float: right;
    width: 50%;
  }
  .node-person .field-name-field-email {
    float: right;
    width: 50%;
  }
  .front .panel-region-bottom,
  .front .panel-region-lead {
    display: none;
  }
  #region-branding {
    width: 100%;
  }
  #region-header-first { display: none; }
  
  #region-header-second {
    clear: left; 
    width: 220px;
    float: left;
    margin: 0 10px;
  }

  #region-menu ul.menu {
    left: 0;
    position: relative;
    top: 0;
    background: white;
    z-index: 500;
  }
  
  #region-menu ul.menu li {
    width: 100%;
    float: none;
    overflow: hidden;
  }

  #section-header { height: 176px; }

  #mobile-menu {
    height: 46px;
    width: 70px;
    display: inline-block;
    line-height: 46px;
    font-family: 'MorganAvecRegular';
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    float: right;
   background: url("../images/sprite-bg-main-menu-arrows.png") no-repeat scroll 55px -412px transparent;
  }
  
  #region-menu ul.menu .submenu {
    width: 100%;
    left: 0;
    top: 0;
    border: none;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: auto;
  }
  #region-menu ul.menu ul {
    width: 100%;
  }

  #region-menu ul.menu a {
    width: 100%;
  *  background: none;
    padding-right: 0px;
  }

  .region-menu ul.menu li a.l1.open {
    box-shadow: none;
  }
  .page-taxonomy .region-sidebar{
    display: block !important;
    width: 100%;
  }
  .page-taxonomy .region-sidebar ul li {
    list-style: none;
  }
  .page-taxonomy .region-sidebar ul li a {
    background: none !important;
    font-size: 20px;
  }
  /* Footer menu should be two lines.  */
  #zone-footer {
    position: relative;
  }
  #block-menu-block-5 {
    float: left;
    width: 50%;
  }
  #block-block-7 {
    bottom: 5px;
    position: absolute;
  }
  #block-menu-block-11 {
    float: right;
    width: 50%;
  }
  .google-translate-block {
    padding: 0.3em 0 0 0 !important;
  }
  /*  ---- End of Footer menu -----*/
  .show-for-small {
    display: block;
  }
  #block-block-11 {
    position: absolute;
    right: 15px;
    top: 50px;
  }
  .front .scroll-up {
    display: block;
    float: right;
    padding-right: 20px;
  }
  .scroll-up {
    display: none;
  }
  #contact-footer .contact-openTime {
    float: right;
    width: 50%;
  }
  #contact-footer .contact-address {
    float: left;
    width: 50%;
  }
  .block-views.block-section-name-mobile-block {
    display: block;
  }
  .menu-block-11 ul li a.active {
    display: none;
  }

  /* Mobile front page */
  .front .pane-content .view-id-news .views-row-4,
  .front .pane-content .view-id-news .views-row-5,
  .front .pane-content .view-id-news .views-row-6,
  .front .pane-content .view-id-news .views-row-7 {
    display: none;
  }
  .front .region-header-second .block-block-8 {
    display: none;
  }
  .front #mobile-menu {
    display: none;
  }
  .front #zone-header ul.menu {
    display: block !important;
  }
  .front #section-header { height: 365px; }

  .front #region-branding { height: 130px; }
  .front .pane-news h2.pane-title { 
    padding-left: 22px;
    border-bottom: none;
  }
  .front .zone-content {
    box-shadow: none;
  }
  .front .panel-panel.grid-5,
  .front .panel-panel.grid-5 .inside {
    width: 100%;
  }
  .front .panel-region-top-center .pane-menu-forsidegenveje ul.menu li.leaf {
    border-top: 2px dotted #fff;
    float: left;
    font-size: 18px;
    line-height: 25px;
    margin: 0 10px;
    width: 90%;
  }
  .front #mini-panel-frontpage_genveje_search {
    height: 380px;
  }
  .front .pane-content .form-item-search-block-form #edit-search-block-form--2 {
    height: 30px;
  }
  .front .pane-menu-forsidegenveje {
    margin-top: 0px;
  }
  /* End of mobile front page */
}
