/***  redesign css ---------------**********/
.front .panel-pane.pane-news.clearfix {
  background-color: #fff;
}

#zone-footer {
  background: #fff url("../images/skyline.png") 80% 94%;
  background-repeat: no-repeat no-repeat;
  background-size: 40% 20%;
  border-bottom: 1px solid #999;
}

#net_tv_img img {
  height: auto;
  width: 100%;
}
.contact_left ul li {
  list-style: none;
}
.contact_left ul {
  margin-left: 0;
}
#zone-footer .block .block-title {
  font-size: 12px;
}

/* Normal pages */
.block.block-menu-block-6 .block-title {
  border-bottom: none;
}
.panel-pane.pane-block-6 {
  height: 50px;
}
.block-views.block-section-name-mobile-block {
  display: none;
}
/* Ballerup header color */
.ballerup_blue {
  color: #0091d1;
}
.pane-title .pink a {
  color: #F939A6 !important;
  font-size: 16px;
}
/* Ende of ballerup header color */

/* pane-activities frontpage */
.pane-activities {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 7px;
  padding-top: 10px;
  margin-top: 20px !important;
  box-shadow: 0px 0px 11px 0px rgba(119, 119, 119, 0.65);
  -moz-box-shadow: 0px 0px 11px 0px rgba(119, 119, 119, 0.65);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(119, 119, 119, 0.65);
}
.pane-activities .views-activities-front-det-sker-i-ballerup  {
  padding: 0 15px;
}

.pane-activities .pane-title .pink {
  padding-left: 10px;
} 

.front .view-activities .more-link {
  margin: 10px 0 10px 0;
  text-align: left;
}

.pane-activities a span {
  color: #222;
  font-size: 10px;
  text-decoration: none;
}
.pane-activities .views-row a:hover {
  text-decoration: none !important;
}
.pane-activities img {
  float: left;
  margin-right: 15px;
  margin-top 8px;
  border-radius: 3px;
}

.pane-activities .views-field-field-activity-date-1 {
    margin-left: 68px;
    border-bottom: 1px dotted #d9d9d9;
}

.pane-activities .more-link a{
  padding-left: 68px;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  color:  #222;
}
/* End of pane-activities frontpage */

/* Front pane-news */
.front .pane-content .view-news .view-content {
  position: relative;
}

/* End of front pane-news */

/* Front pane-region-top-center Genveje */
/*.front .panel-region-top-center .inside {*/
.front #mini-panel-frontpage_genveje_search {
  background-color: #2a333d;
  border: 1px solid #d9d9d9;
  border-radius: 7px;
  margin-top: 15px;
  box-shadow: 0px 0px 11px 0px rgba(119, 119, 119, 0.65);
  -moz-box-shadow: 0px 0px 11px 0px rgba(119, 119, 119, 0.65);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(119, 119, 119, 0.65);
  height: 479px;
}
.front .panel-region-top-center .ballerup_blue {
  padding-left: 10px;
}
.front .panel-region-top-center .pane-menu-forsidegenveje .pane-title {
  border-bottom: none;
  color: #fff;
  padding-left: 10px;
  text-transform: none;
  margin-top: 20px;
}
.front .panel-region-top-center .pane-menu-forsidegenveje ul.menu li {
  list-style: none;
}
.front .panel-region-top-center .pane-menu-forsidegenveje ul.menu li.first.expanded {
  list-style: none;
  width: 45%;
  float: left;
}
.front .panel-region-top-center .pane-menu-forsidegenveje ul.menu li.last.expanded {
  list-style: none;
  width: 45%;
  float: right;
}
.front .panel-region-top-center .pane-menu-forsidegenveje ul.menu {
  margin-left: 10px;
  margin-bottom: 10px;
  padding-right:10px;
}
.front .panel-region-top-center .pane-menu-forsidegenveje ul.menu li.expanded ul.menu {
  margin-left: 0;
}
.front .panel-region-top-center .pane-menu-forsidegenveje ul.menu li.expanded {
  border-top: 2px dotted #fff;
  margin-left: 0;
  margin-bottom: 5px;
}
.front .panel-region-top-center .pane-menu-forsidegenveje ul.menu li.expanded a {
  display: none;
}

.front .panel-region-top-center .pane-menu-forsidegenveje ul.menu li.leaf a,
.front .panel-region-top-center .pane-menu-forsidegenveje ul li.leaf a:hover,
.front .panel-region-top-center .pane-menu-forsidegenveje ul li.leaf a:active {
  color: #fff;
  display: block;
}
.front .panel-region-top-center .pane-menu-forsidegenveje ul li a:visited,
.front .panel-region-top-center .pane-menu-forsidegenveje ul li a:hover,
.front .panel-region-top-center .pane-menu-forsidegenveje ul li a:active {
  font-weight:  900;
  text-decoration: none;
}

.front .panel-region-top-center .show-in-genveje {
  color: #fff;
  display: inline-block;
  padding: 10px 0 0 10px;
  width: 20%;
}
.show-in-genveje {
  display: none;
}

.front .pane-content .form-item-search-block-form {
  padding-left: 20px;
  
}
.front .pane-content .form-item-search-block-form #edit-search-block-form--2 {
  width: 70%;
}
.front .pane-content #search-block-form .container-inline {
  position: relative;
}
/*.front .pane-content .form-actions {
  position: absolute;
  top: 12px;
  right: 10px;
}*/
.front .pane-content #search-block-form .from-text {
  width: 180px;
}
/* End of front pane-region-top-center Genveje */

/* Front pane-region-top-right Net TV */
.front #net_tv_pane {
  height: 160px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 7px;
  margin-top: 15px;
  box-shadow: 0px 0px 11px 0px rgba(119, 119, 119, 0.65);
  -moz-box-shadow: 0px 0px 11px 0px rgba(119, 119, 119, 0.65);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(119, 119, 119, 0.65);
}
.front #net_tv_pane .pane-title {
  padding-left: 10px;
  padding-top: 10px;
}
.front #net_tv_pane .pane-content {
  padding: 10px;
}
/* End of front pane-region-top-right NET TV */
#zone-header {
  border-top: 5px solid #0091d1;
}
.region-menu ul.menu {
  left: 326px;
  text-transform: uppercase;
}
iframe {
  width: 100%;
}
.node-politician .field-name-field-lead-image img,
.node-person .field-name-field-lead-image img {
  width: 50%;
}

.field-name-field-lead-image img {
  width: 100%;
}
.front .zone-content {
  border-top: none;
}

.contact_left {
  float: left;
  width: 50%;
}

.contact_right {
  float: right;
  width: 50%;
}
.front .inside .pane-block-10 h2.pane-title {
  border-bottom: none;
  font-size: 20px;
}
.front .pane-block-10 {
  margin-top : 70px !important;
}
.content .panel-homepage .panel-region-lead {
  border-bottom: none !important;
  margin-bottom: 15px !important;
}
.front .panel-region-top {
  border-bottom: none !important;
  background-color: #e7e7e8;
}
/*  ---- main menu ---*/
.region-menu ul.menu li.expanded {
  width: 23%;
}
.region-menu ul.menu {
  right: 0px;
}
.front .region-menu ul.menu .submenu {
/*  left: 18px;
  width: 95.8%;
*/}
.region-menu ul.menu li.expanded.green {
  background-color: #3ADF00;
}
.region-menu ul.menu li.expanded.red{
  background-color: red;
}
.region-menu ul.menu li.expanded.selvbetjening{
  background-color: rgb(248, 95, 9);
}

.region-menu ul.menu li.expanded.blue {
  background-color: #0091d1;
}
.region-menu ul.menu li.expanded.orange {
  background-color: red;
}
.region-menu ul.menu li a.l1.borger {
  color: #fff;
}
.region-menu ul.menu li a.l1.selvbetjening,
.region-menu ul.menu li a.l1.selvbetjening.open
.region-menu ul.menu li a.l1.erhverv, 
.region-menu ul.menu li a.l1.erhverv.open,
.region-menu ul.menu li a.l1.kommunen,
.region-menu ul.menu li a.l1.kommunen.open{
  color: #fff;
}

.region-menu ul.menu li a.l1.borger.open {
  color: #fff;
  background-color: #3ADF00;
  border-bottom: 100% solid #3adf00;
  border-right: 10px solid transparent;
  box-shadow: none !important;
}
/* ---- Franz har lavet de her--------*/
.grid3 .views-field-field-resume-long { height: 54px; overflow: hidden;}
.grid3 .views-field-title { font-family: 'MorganAvecBold'; font-size: 16px; text-transform: uppercase; }
.grid3 .views-field-field-lead-image {
margin: 0 6px 10px 0;
}

/*  ------------End of redesign css-------------*/
html {
  background: #f5f5f5 url(../images/bg-page.png) repeat-x 0 0;
}

h1, h2 {
  font-family: 'MorganAvecRegular';
  font-weight: normal;
}
h1 {
  margin: 0 0 10px 0;
  font-size: 36px;
}
h2 {
  margin: 1em 0;
  font-size: 16px;
}
h3 {
  font-size: 12px;
}
h4 {
  font-style: italic;
  font-weight: normal;
}

p{
  margin: 1em 0;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

/*pre {
  margin: 1em 0;
  padding: 0;
  font-family: 'MorganAvecBold';
  font-size: 16px;
}*/

blockquote {
  margin: 1em;
  font-family: 'MorganSansLiningObliqueRg';
  font-size: 16px;
}

/* Header */

.section-header {
  height: 163px;
  background: #fff;
}
.logo-img {
  padding-top: 20px;
  padding-left: 10px;
}

.region-header-first {
  z-index: 150;
}
.region-header-first .block {
  float: left;
}
.region-header-first .block-locale {
  float: right;
}

.region-header-first h2 {
  display: none;
}
.region-header-first ul.menu,
.panel-region-middle-top-right ul.menu,
.panel-node-news .panel-region-right ul.menu {
  margin: 0;
  padding-top: 13px;
  list-style: none;
}
.region-header-first ul.menu li,
.panel-region-middle-top-right ul.menu li,
.panel-node-news .panel-region-right ul.menu li {
  float: left;
  list-style: none;
}
.region-header-second .block {
  margin-top: 8px;
}

/* END Header */


/* Header Secondary Menu */

.region-header-first ul.menu li,
.panel-region-middle-top-right ul.menu li,
.panel-node-news .panel-region-right ul.menu li {
  position: relative;
  margin: 0;
  padding: 0.2em 0.5em;
}
.region-header-first ul.menu li.expanded {
  padding-right: 23px;
  background-image: url('../images/more_arrow.png');
  background-repeat: no-repeat;
  background-position: 100% -15px;
}
.region-header-first ul.menu li.expanded.shown {
  background-color: #EAEAEA;
  background-position: 100% 8px;
}
.region-header-first ul.menu ul {
  padding: 0.4em 0.5em;
  background: #EAEAEA;
  position: absolute;
  left: 0;
  top: 17px;
  width: 100px;
  display: none;
}
.region-header-first ul.menu li.expanded.shown ul {
  display: block;
}
.region-header-first ul.menu ul li {
  float: none;
  padding: 0;
}

/* END Header Secondary Menu */


/* Menu */

.zone-header {
  position: relative;
}
.zone-header-wrapper .zone-header .region-menu {
  width: 100%;
  margin: 0;
}

.region-menu ul.menu {
  position: absolute;
  top: -34px;
  left: 292px;
}

.region-menu ul.menu,
.region-menu ul.menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.region-menu ul.menu li {
  float: left;
  background: url('../images/bg-main-menu-spacer.png') no-repeat 100% 50%;
}
.region-menu ul.menu li.last {
  background: none;
}

.region-menu ul.menu li a {
  padding: 0 40px 0 22px;
  line-height: 46px;
  font-family: 'MorganAvecRegular';
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}

.region-menu ul.menu li a.l1 {
  text-decoration: none;
  text-transform: uppercase;
}
.region-menu ul.menu li a.l1:hover,
.region-menu ul.menu li a.l1.open {
 * background-color: #fff;
  -moz-box-shadow: 0 0 7px #999;
  box-shadow: 0 0 7px #999;
}

.region-menu ul.menu .submenu {
  width: 960px;
  border-bottom: 5px solid #fff;
  padding: 20px 0;
  position: absolute;
  top: 46px;
  left: -292px;
  background: #fff url('../images/bg-main-menu.png') repeat-x 0 100%;
  z-index: 100;
  display: none;
}
.region-menu ul.menu ul {
  width: 260px;
  margin: 0 20px;
  position: relative;
  top: 0;
  left: 0;
  float: left;
}

.region-menu ul.menu li li {
  padding: 10px;
  float: none;
  background: none;
  position: relative;
}
.region-menu ul.menu li li.space {
  left: 320px;
}

.region-menu ul.menu li li a {
  padding: 0;
  line-height: 1.3em;
  font-weight: normal;
  display: block;
}

.region-menu ul li.hide {
  display: none;
}

.region-menu ul.menu li.green a {
  color: #677d1c;
}
.region-menu ul.menu li.green .submenu {
  border-color: #94af2a;
}
.region-menu ul.menu a.green {
  background: url('../images/sprite-bg-main-menu-arrows.png') no-repeat;
  background-position: 90% -46px;
}
.region-menu ul.menu a.green:hover,
.region-menu ul.menu a.green.open {
  background-position: 90% 0;
}

.region-menu ul.menu li.red a {
  color: #fff;*#c4161c;
}
.region-menu ul.menu li.red .submenu {
  border-color: #c4161c;
}
.region-menu ul.menu a.red {
  background: url('../images/sprite-bg-main-menu-arrows.png') no-repeat;
  background-position: 90% -135px;
}
.region-menu ul.menu a.red:hover,
.region-menu ul.menu a.red.open {
  background-position: 90% -92px;
}

.region-menu ul.menu li.blue a {
  color: #007aaf;
}
.region-menu ul.menu li.blue .submenu {
  border-color: #007aaf;
}
.region-menu ul.menu a.blue {
  background: url('../images/sprite-bg-main-menu-arrows.png') no-repeat;
  background-position: 90% -227px;
}
.region-menu ul.menu a.blue:hover,
.region-menu ul.menu a.blue.open {
  background-position: 90% -184px;
}

.region-menu ul.menu li.brown a {
  color: #a14f0c;
}
.region-menu ul.menu li.brown .submenu {
  border-color: #a14f0c;
}
.region-menu ul.menu a.brown {
  background: url('../images/sprite-bg-main-menu-arrows.png') no-repeat;
  background-position: 90% -319px;
}
.region-menu ul.menu a.brown:hover,
.region-menu ul.menu a.brown.open {
  background-position: 90% -276px;
}

.region-menu ul.menu li.gray a {
  color: #818181;
}
.region-menu ul.menu li.gray .submenu {
  border-color: #818181;
}
.region-menu ul.menu a.gray {
  background: url('../images/sprite-bg-main-menu-arrows.png') no-repeat;
  background-position: 90% -411px;
}
.region-menu ul.menu a.gray:hover,
.region-menu ul.menu a.gray.open {
  background-position: 90% -365px;
}

/* END Menu */





/* Content */
.view-campaigns .view-content {
  border-bottom: 2px solid #0091d1;

}
ul.jcarousel-view--campaigns--block-1 {
  height: 160px;
}
.zone-content {
 * border-top: 5px solid #0091d1;
  margin-top: -50px;
  padding: 10px 0 0px 0;
  background: #fff; *url(../images/bg-content-bottom.png) no-repeat 50% 100%;
  -moz-box-shadow: 0 0 7px #999;
  box-shadow: 0 0 7px #999;
}

.front .zone-content {
  padding-top: 0;
}

.alpha-grid-debug .zone-content {
  background-repeat: repeat;
  background-position: 0 0;
}

/* Context Colors */

.context-borger .zone-content,
.context-menu-borger .zone-content {
  border-color: #677d1c;
}
.context-borger #section-content a,
.context-menu-borger #section-content a {
  color: #677d1c;
}
.context-borger .region-sidebar ul.menu li a,
.context-menu-borger .region-sidebar ul.menu li a {
  background-image: url(../images/left-menu/green-left-menu-level1.png);
}
.context-borger .region-sidebar ul.menu li a.active-trail,
.context-menu-borger .region-sidebar ul.menu li a.active-trail {
  background-image: url(../images/left-menu/green-left-menu-level1-active.png);
}
.context-borger .region-sidebar ul.menu ul.menu li a,
.context-menu-borger .region-sidebar ul.menu ul.menu li a {
  background-image: url(../images/left-menu/green-left-menu-level2.png);
}
.context-borger .region-sidebar ul.menu ul.menu li a.active-trail,
.context-menu-borger .region-sidebar ul.menu ul.menu li a.active-trail {
  background-image: url(../images/left-menu/green-left-menu-level2-active.png);
}

.context-erhverv .zone-content,
.context-menu-erhverv .zone-content {
  border-color: #c4161c;
}
.context-erhverv #section-content a,
.context-menu-erhverv #section-content a {
  color: #c4161c;
}
.context-erhverv .region-sidebar ul.menu li a,
.context-menu-erhverv .region-sidebar ul.menu li a {
  background-image: url(../images/left-menu/red-left-menu-level1.png);
}
.context-erhverv .region-sidebar ul.menu li a.active-trail,
.context-menu-erhverv .region-sidebar ul.menu li a.active-trail {
  background-image: url(../images/left-menu/red-left-menu-level1-active.png);
}
.context-menu-erhverv .region-sidebar ul.menu ul.menu li a,
.context-erhverv .region-sidebar ul.menu ul.menu li a {
  background-image: url(../images/left-menu/red-left-menu-level2.png);
}
.context-erhverv .region-sidebar ul.menu ul.menu li a.active-trail,
.context-menu-erhverv .region-sidebar ul.menu ul.menu li a.active-trail {
  background-image: url(../images/left-menu/red-left-menu-level2-active.png);
}

.context-kommunen .zone-content,
.context-menu-kommunen .zone-content {
  border-color: #0091d1;
}
.context-kommunen #section-content a,
.context-menu-kommunen #section-content a {
  color: #0091d1;
}
.context-kommunen .region-sidebar ul.menu li a,
.context-menu-kommunen .region-sidebar ul.menu li a {
  background-image: url(../images/left-menu/blue-left-menu-level1.png);
}
.context-kommunen .region-sidebar ul.menu li a.active-trail,
.context-menu-kommunen .region-sidebar ul.menu li a.active-trail {
  background-image: url(../images/left-menu/blue-left-menu-level1-active.png);
}
.context-kommunen .region-sidebar ul.menu ul.menu li a,
.context-menu-kommunen .region-sidebar ul.menu ul.menu li a {
  background-image: url(../images/left-menu/blue-left-menu-level2.png);
}
.context-kommunen .region-sidebar ul.menu ul.menu li a.active-trail,
.context-menu-kommunen .region-sidebar ul.menu ul.menu li a.active-trail {
  background-image: url(../images/left-menu/blue-left-menu-level2-active.png);
}

.context-netsteder .zone-content,
.context-menu-netsteder .zone-content {
  border-color: #818181;
}
.context-netsteder #section-content a,
.context-menu-netsteder #section-content a {
  color: #818181;
}
.context-netsteder .region-sidebar ul.menu li a,
.context-menu-netsteder .region-sidebar ul.menu li a {
  background-image: url(../images/left-menu/gray-left-menu-level1.png);
}
.context-netsteder .region-sidebar ul.menu li a.active-trail,
.context-menu-netsteder .region-sidebar ul.menu li a.active-trail {
  background-image: url(../images/left-menu/gray-left-menu-level1-active.png);
}
.context-netsteder .region-sidebar ul.menu ul.menu li a,
.context-menu-netsteder .region-sidebar ul.menu ul.menu li a {
  background-image: url(../images/left-menu/gray-left-menu-level2.png);
}
.context-netsteder .region-sidebar ul.menu ul.menu li a.active-trail,
.context-menu-netsteder .region-sidebar ul.menu ul.menu li a.active-trail {
  background-image: url(../images/left-menu/gray-left-menu-level2-active.png);
}

/* END Context Colors */

/* END Content */


/* Panel panes (Blocks) */

.front .region-content-inner .panel-pane {
  margin-top: 15px;
}
.view-section-name-mobile h2,
.panel-pane .pane-title,
.block .block-title,
.panel-region-middle-right .pane-content h2,
.panel-region-right .pane-content h2 {
  border-bottom: 1px solid #d9d9d9;
  margin: 0 0 10px 0;
  padding-bottom: 7px;
  font-family: 'MorganAvecBold';
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.page-node .panel-region-right .panel-separator,
.page-node .panel-region-middle-right .panel-separator,
.page-node .panel-region-right .node-right-column > .field,
.page-node .panel-region-middle-right .node-right-column .field,
.page-node .panel-region-right .node-right-column .field-type-blockreference .field-item,
.page-node .panel-region-middle-right .node-right-column .field-type-blockreference .field-item {
  margin-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 20px;
}

.page-node .panel-region-right .node-right-column > .field:last-child,
.page-node .panel-region-middle-right .node-right-column .field:last-child,
.page-node .panel-region-right .node-right-column  .field-type-blockreference .field-item:last-child,
.page-node .panel-region-middle-right .node-right-column .field-type-blockreference .field-item:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

/* END Panel panes (Blocks) */


/* Jump menu panes and blocks */

.main-menu-jump-menus {
  width: 300px;
  margin-right: 30px;
  float: right;
}
.main-menu-jump-menus .block {
  margin-bottom: 2em;
}
.main-menu-jump-menus h2 {
  margin-top: 0;
  font-family: 'MorganAvecBold';
  font-size: 16px;
  font-weight: normal;
}

/* Special case for the 'Netsteder' menu */
li.netsteder .main-menu-jump-menus {
  width: auto;
  margin: 0 20px;
  float: none;
}
li.netsteder .main-menu-jump-menus .block-jump {
  width: 300px;
  margin-right: 30px;
  float: left;
}
li.netsteder .main-menu-jump-menus #block-jump-menu-menu-bfo {
  clear: left;
}
/* END Special case for the 'Netsteder' menu */


.front .panel-region-lead .grid-5,
.front .panel-region-top .grid-5 {
  width: 300px;
}
.front .panel-region-top .grid-5 .inside {
  width: 295px;
}

.front .panel-region-top-center .pane-block-8 {
  margin-top: 10px;
}
.front .panel-region-top .pane-title {
  margin: 0;
  border-bottom: 2px solid #d9d9d9;

}

.pane-jump-menu-menu-selvbetjening {
  color: #007aaf;
}
.pane-jump-menu-menu-borger-genveje {
  color: #677d1c;
}
.pane-jump-menu-menu-erhverv-genveje {
  color: #007aaf;
}

.jump-quickly .container-inline div {
  margin: 0;
  display: block;
}
.jump-quickly .form-type-select {
  float: left;
}
.form-item-jump-goto .selector {
  width: 233px !important;
}
.region-menu .form-item-jump-goto .selector {
  width: 238px !important;
}
.jump-quickly .form-submit {
  float: right;
}

/* END Jump menu panes and blocks */


/* Homepage */

/* Ballerup nyt */
.views-news-front-ballerup-nyt .views-field-field-news-category,
.views-news-page-nyheder .views-field-field-news-category {
  padding-right: 10px;
}
.views-news-front-ballerup-nyt .views-field-field-news-category,
.views-news-front-ballerup-nyt .views-field-created,
.views-news-page-nyheder .views-field-field-news-category,
.views-news-page-nyheder .views-field-created {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
.views-news-front-ballerup-nyt .views-row {
  width: 100%; *260px;
  margin-bottom: 5px;
  border-bottom: 2px dotted #d9d9d9;
  padding-bottom: 5px;
  clear: right;
  *float: right;
}
.views-news-front-ballerup-nyt .views-field-title,
.views-news-page-nyheder .views-field-title {
 /* padding-top: 5px;*/
}
.views-news-front-ballerup-nyt .views-row-first {
  width: 100%;*280px;
  margin: 0;
  border: 0;
  padding: 0;
 * float: left;
}
.views-news-front-ballerup-nyt .views-row-first .views-field-title {
  font-size: 20px;
  *line-height: 1.5em;
}
.views-news-front-ballerup-nyt .views-row-last {
 * margin: 0;
  *border: 0;
  *padding: 0;
}
.views-news-front-ballerup-nyt .more-link {
  font-size: 10px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  text-transform: uppercase;
}
/* END Ballerup nyt */

/* Det sker i Ballerup */
.pane-activities .pane-title {
  margin-bottom: 3px;
}
.views-activities-front-det-sker-i-ballerup .views-row {
  padding: 7px 0;
}
.views-activities-front-det-sker-i-ballerup .views-row:hover {
  background-color: #f5f5f5;
}
.views-activities-front-det-sker-i-ballerup .views-row-last {
  *border-bottom: 0;
}
.views-activities-front-det-sker-i-ballerup .views-field-field-annoncement-date {
  width: 39px;
  height: 42px;
  margin: 2px 8px 0 0;
  background: url('../images/bg-activity-date.png') no-repeat 0 0;
  float: left;
  text-align: center;
  font-size: 10px;
  color: #333333;
  text-transform: uppercase;
}
.views-activities-front-det-sker-i-ballerup .views-field-field-annoncement-date .day {
  padding-top: 6px;
  display: block;
  font-family: 'MorganAvecRegular';
  font-size: 16px;
}
.views-activities-front-det-sker-i-ballerup .views-field-field-activitytype {
  padding-right: 5px;
}
.views-activities-front-det-sker-i-ballerup .views-field-field-activitytype,
.views-activities-front-det-sker-i-ballerup .views-field-field-activity-start,
.views-activities-front-det-sker-i-ballerup .views-field-field-activity-end {
  font-size: 11px;
  font-weight: bold;
}
.views-activities-front-det-sker-i-ballerup .views-field-title,
.views-activities-front-det-sker-i-ballerup .views-field-field-activity-place {
  margin-left: 47px;
  padding-top: 4px;
  display: block;
}
/* END Det sker i Ballerup */

/* Hold dig opdateret */
.views-media-front-hold-dig-opdateret .views-field-field-lead-image,
.views-media-front-hold-dig-opdateret .views-field-field-mediafile {
  margin-right: 20px;
  float: left;
}
.views-media-front-hold-dig-opdateret .views-field-title {
  margin-bottom: 10px;
  font-size: 20px;
}
/* END Hold dig opdateret */

/* Følg Ballerup */
.folg-ballerup,
.folg-ballerup li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.folg-ballerup li a {
  margin: 4px 0;
  padding-left: 54px;
  font-size: 16px;
  background-image: url('../images/sprite-folg-ballerup.png');
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 43px;
}
.folg-ballerup li a.facebook {
  background-position: 0 0;
}
.folg-ballerup li a.twitter {
  background-position: 0 -50px;
}
.folg-ballerup li a.rss {
  background-position: 0 -100px;
}
/* END Følg Ballerup */

/* Aktuelt i Ballerup */
.views-campaigns-front-aktuelt-i-ballerup .view-content {
 * background: url('../images/bg-jcarousel-wrapper.png') repeat-x 0 100%;
 * border-bottom: 1px solid #d9d9d9;
  padding: 0 0px 20px 0;
}
.views-campaigns-front-aktuelt-i-ballerup .jcarousel-clip {
  overflow: hidden;
}
.views-campaigns-front-aktuelt-i-ballerup .jcarousel-item {
  width: 160px;
  height: 161px; *185px;
  margin: 0 14px;
  position: relative;
  background: url('../images/bg-sprite-jcarousel-item.png') repeat-x 0 0;
}
.views-campaigns-front-aktuelt-i-ballerup .jcarousel-item:hover {
  background-position: 0 -185px;
}
.views-campaigns-front-aktuelt-i-ballerup .jcarousel-item-wrapper {
  height: 148px;
  overflow: hidden;
}
.views-campaigns-front-aktuelt-i-ballerup .jcarousel-prev,
.views-campaigns-front-aktuelt-i-ballerup .jcarousel-next {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 65px;
  background-image: url("../images/sprite-jcarousel-nav.png");
  background-repeat: no-repeat;
}
.views-campaigns-front-aktuelt-i-ballerup .jcarousel-prev {
  left: -25px;
  background-position: 0 0;
}
.views-campaigns-front-aktuelt-i-ballerup .jcarousel-next {
  right: -25px;
  background-position: 0 -32px;
}

.views-campaigns-front-aktuelt-i-ballerup .jcarousel-item .views-field-field-lead-image {
  position: absolute;
  top: 0;
  left: 0;
}
.views-campaigns-front-aktuelt-i-ballerup .jcarousel-item:hover .views-field-field-lead-image {
  display: none;
}
.views-campaigns-front-aktuelt-i-ballerup .jcarousel-item .views-field-title {
  padding: 5px 10px 6px 10px;
  font-weight: bold;
}
.views-campaigns-front-aktuelt-i-ballerup .jcarousel-item .views-field-field-resume-long {
  padding: 0 10px;
}
/* END Aktuelt i Ballerup */

/* END Homepage */


/* Content (Nodes) */

.page-node .panel-region-middle .panel-pane,
.page-node .panel-region-middle-top,
.page-node .panel-region-middle .pane-node-content .content,
.page-node .panel-region-middle-center .pane-node-content .content {
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.page-node .panel-region-middle .pane-node-content .content,
.page-node .panel-region-middle-center .pane-node-content .content {
  margin-bottom: 5px;
}

.page-node .panel-region-middle-right .panel-pane,
.page-node .panel-region-middle .pane-node-content,
.page-node .panel-region-middle-center .pane-node-content,
.page-node .panel-region-middle .pane-page-title,
.page-node .panel-region-middle-top .pane-page-title,
.page-node .panel-region-middle .pane-node-field-resume-long,
.page-node .panel-region-middle-top .pane-node-field-resume-long {
  margin: 0;
  border: 0;
  padding: 0;
}

.page-node .panel-region-middle .field-name-field-resume-long,
.page-node .panel-region-middle-top .field-name-field-resume-long {
  padding-bottom: 20px;
  font-family: 'MorganAvecRegular';
  font-size: 16px;
}

.page-node .panel-region-middle-top .field-name-field-resume-long {
  padding-bottom: 10px;
}

.page-node .panel-region-middle .pane-node-custom-created-date,
.page-node .panel-region-middle-top .pane-node-custom-created-date {
  padding-bottom: 10px;
}

.page-node .pane-node-content .field {
  margin-bottom: 1em;
}
.page-node .pane-node-content .field-name-field-lead-image {
  text-align: center;
}
.page-node .pane-node-content .field-name-body {
  clear: both;
}
.page-node .pane-node-content .field-name-body h2 {
    margin: 0;
}
.page-node .pane-node-custom-created-date p {
  margin: 0;
}
.page-node .pane-node-custom-created-date {
  font-size: 10px;
}
.page-node .updated {
  font-size: 11px;
}
.page-node .pane-node-custom-created-date .custom-created-date-date {
  text-transform: uppercase;
}
.page-node .pane-node-custom-created-date .custom-created-date-author {
  margin-top: 5px;
  font-size: 12px;
}
.page-node .pane-node-custom-created-date a,
.page-node .updated a {
  color: #666666;
}
.page-node .updated-left {
  float: left;
}
.page-node .pane-node-custom-created-date a,
.page-node .updated-left a {
  text-decoration: underline;
}
.page-node .updated-right {
  float: right;
}

/* Latest campaign block */
.views-campaigns-latest-campaign {
  padding: 15px 15px 55px 15px;
  background: #00628f url('../images/bg-latest-campaign.png') no-repeat 50% 100%;
  color: #fff;
}
.views-campaigns-latest-campaign .views-field-title {
  margin-bottom: 15px;
  font-family: 'MorganAvecBold';
  font-size: 16px;
}
.views-campaigns-latest-campaign a,
.views-campaigns-latest-campaign a:active,
.views-campaigns-latest-campaign a:visited,
.views-campaigns-latest-campaign a:hover {
  color: #fff;
}
/* END Latest campaign block */

/* Related Tema pane - right column */
.page-node .pane-node-field-related-tema .field-name-field-lead-image img {
  display: block;
}
.page-node .pane-node-field-related-tema .tema-wrapper {
  padding: 15px 10px;
  background: #d9d9d9 url('../images/bg-tema-right-column.png') repeat-x 0 0;
}
.page-node .pane-node-field-related-tema h2 {
  padding-bottom: 0;
}
/* END Related Tema pane - right column */

/* Related block */
.page-node .pane-node-field-related .field-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 10px;
}
.page-node .pane-node-field-related .field-items .field-item:last-child,
.page-node .pane-node-field-related .node .field-item {
  margin: 0;
  border: 0;
  padding: 0;
}
.page-node .pane-node-field-related h3 {
  margin-bottom: 10px;
}
.page-node .pane-node-field-related .links {
  display: none;
}
/* END Related block */


/* Related Persons block */
.page-node .pane-node-field-related-person .field-name-field-lead-image {
  margin-right: 10px;
  float: left;
}
.page-node .pane-node-field-related-person .field-name-field-phone1 {
  margin-top: 15px;
}
/* END Related Persons block */


/* Activity */
.page-node.node-type-activity .field-name-field-annoncement-date,
.page-node.node-type-activity .field-name-field-activity-start,
.page-node.node-type-activity .field-name-field-activity-end {
  float: left;
  margin: 0 5px 1em 0;
}
/* END Activity */


/* END Content (Nodes) */


/* List Views */

.views-view-list .views-row {
  margin-bottom: 25px;
}
.views-view-list .views-row-last {
  margin-bottom: 0;
}
.views-view-list .views-field-field-lead-image {
  float: left;
  margin: 0 15px 10px 0;
}
.views-view-list .views-field-title {
  margin: 0 0 10px 0;
  font-size: 16px;
}

/* END List Views */


/* Grid Views */

.views-view-grid.cols-3 td {
  width: 240px;
  padding: 0 20px 20px 20px;
}
.views-view-grid.cols-3 td.col-first,
.views-view-grid.cols-3 td.col-last {
  padding: 0 0 20px 0;
}
.views-view-grid .views-field-field-lead-image {
  margin: 0 0 10px 0;
}
.views-view-grid .views-field-title {
  font-family: 'MorganAvecBold';
  font-size: 16px;
  text-transform: uppercase;
}

/* END Grid Views */


/* Table Views */

tr.even,
tr.odd {
  border: 0;
}
th {
  padding: 7px 5px;
  background-color: #D6D6D6;
}
tr.odd {
  background-color: #fff;
}
tr.even {
  background-color: #E9E9E9;
}
tr.even td,
tr.odd td {
  padding: 5px;
}

/* END Table Views */


/* Content tables */

#region-content .pane-content table,
#region-content .pane-content th,
#region-content .pane-content td {
    border: 1px solid #d9d9d9
}
#region-content .pane-content table {
    margin: 1.2em 0;
}
#region-content .pane-content th,
#region-content .pane-content td {
    padding: 0.3em;
}

/* Special case for borderless tables */
#region-content .pane-content #nautcontent table,
#region-content .pane-content #nautcontent th,
#region-content .pane-content #nautcontent td {
    border: none;
    margin: 0;
    padding: 0;
}
#region-content .pane-content table.views-view-grid,
#region-content .pane-content table.views-view-grid th,
#region-content .pane-content table.views-view-grid td,
#region-content .pane-content table.no-border,
#region-content .pane-content table.no-border th,
#region-content .pane-content table.no-border td {
    border: none;
}
#region-content .pane-content table.views-view-grid .grid-3-cols {
    width: 33.33333333%;
}


/* END Content tables */


/* Persons */

.views-persons-list-page .views-exposed-form .views-widget,
.views-persons-list-page .views-exposed-form label,
.views-persons-list-page .views-exposed-form .form-item {
  display: inline;
}
.views-persons-list-page .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}

.views-persons-list-page .views-exposed-form,
.views-persons-list-page .views-row {
  margin-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 15px;
  font-size: 14px;
}
.views-persons-list-page .views-field-field-lead-image {
  margin-right: 20px;
  float: left;
}
.views-persons-list-page .views-field-field-resume-long {
  width: 237px;
  float: right;
}
.views-persons-list-page .views-label-field-resume-long {
  font-weight: bold;
}
.views-persons-list-page .views-field-title {
  font-family: 'MorganAvecBold';
  font-size: 16px;
}
.views-persons-list-page .views-field-field-organization,
.views-persons-list-page .views-field-field-member,
.views-persons-list-page .views-field-field-adress {
  margin: 1em 0;
}
.views-persons-list-page .views-field-field-phone1 .field-content,
.views-persons-list-page .views-field-field-phone2 .field-content,
.views-persons-list-page .views-field-field-email .field-content,
.views-persons-list-page .views-field-field-url .field-content {
  display: inline;
}

/* END Persons */


/* Ballerup Contact Block */

.ballerup-contact-block {
  width: 40px;
  height: 100px;
  position: fixed;
  top: 250px;
  right: 0;
  z-index: 999;
  background: #fff url('../images/bg-contact-block.png') no-repeat 17px 50%;
  text-decoration: none !important;
  box-shadow: 0 0 7px #999999;
  -moz-box-shadow: 0 0 7px #999999;
  border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}

.ballerup-contact-block:hover,
.ballerup-contact-block:focus,
.ballerup-contact-block:active {
  padding-right: 20px;
}

.i18n-en .ballerup-contact-block {
  background-image: url('../images/bg-contact-block-en.png');
}

/* END Ballerup Contact Block */


/* Site map */

#site-map h2.title,
#site-map div.description {
  display: none;
}

/* END Site map */


/* Footer */

.section-footer {
  padding-bottom: 20px;
  overflow: hidden;
}
.zone-footer {
  padding: 20px 0;
  background: #fff;
  -moz-box-shadow: 0 0 7px #999;
  box-shadow: 0 0 7px #999;
}

.zone-footer .block .content {
  font-size: 11px;
}

.zone-footer ul.menu {
  margin: 0;
  list-style: none;
}
.zone-footer ul.menu li {
  margin: 0;
  list-style: none;
}

/* END Footer */

/* Links */

a, a:active, a:visited {
  color: #30a4dc;* #007aaf;
  text-decoration: none;
}
a:hover {
  color: #30a4dc; *#007aaf;
  text-decoration: underline;
}

.region-header-first a {
  font-size: 11px;
  vertical-align: bottom;
}

.region-header-first a,
.zone-footer a {
  color: #222;
}

/* END Links */

/* PRINT STYLES */
@media print{
    #section-header,
    #section-footer,
    #region-sidebar,
    .ballerup-contact-block,
    #skip-link {
        display: none;
    }
    #region-content.region {
        display: block;
        margin-top: 1cm;
    }
    a:after {
        content: normal;
    }
}

.submenu a { font-family: Verdana; *Arial, sans-serif !important; }
.submenu .overskrift a { font-weight: bold !important; text-decoration: underline !important;}

.pane-ballerup-taxonomy-term img { max-width: 100%; height: auto}
.view-ballerup-taxonomy-term .grid3 { float: left; width: 48%;}



.node-media .field-name-field-text iframe { max-width: 100%}
.field-name-field-lead-image img { max-width: 100%; height: auto}
@media all and (max-width: 739px) {
  .front .panel-region-lead {
    display: none;
  }

 .sektionssider  #region-content,
 #region-sidebar, #region-footer-second, #region-footer-third, #region-footer-fourth, #region-footer-fifth,  ul#contextual-links, .ballerup-contact-block, ul.tabs, #admin-menu, .node-type-news .panel-region-right, .front .panel-region-top-center, .front .panel-region-top-right { display: none;}
}

/* Meetings */
.view-os2web-meetings-meeting-details .agenda-bullet-list.open {
  background: url(../images/foldIn.png);
  background-position: right 0px;
  background-repeat: no-repeat;
  width: inherit;
  display: block;
}
.view-os2web-meetings-meeting-details .agenda-bullet-list {
  background: url(../images/foldOut.png);
  background-position: right 0px;
  background-repeat: no-repeat;
  width: inherit;
  display: block;
  font-family: MorganAvecBold;
  color: #222;
}



.view-os2web-meetings-meeting-details tr {
  background: #fff;
}

.view-os2web-meetings-meeting-details .view-content { width: 100%; }
.view-os2web-meetings-meeting-details .views-table { width: inherit; }
.view-os2web-meetings-meeting-details .attachment.attachment-after td { 
  border-left: 1px solid #FFF!important; 
  border-right: 1px solid #FFF!important;
}
